#navbar {
    background: darkgrey;
    margin-bottom: 20px;
    line-height: 20px;

}

.navbar-nav {
    position: absolute;
    left: 1000px;
}

#name {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;

}

.col-md-01 {
    margin-top: 50px;
}

body {
    background: url(regal/regal.png);
}

.container {
    background: lightblue;
    margin-top: 50px;
    padding: 0 40px 30px 40px;
    text-align: justify;
    clear: both;
}

p {
    margin-bottom: 20px;
}

img {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}

.container-2 {
    background: lightblue;
    margin: 100px 50px 50px 50px;
    padding: 40px 40px 60px 40px;
    text-align: justify;
    clear: both;
}
 
hr {
    border-top: 3px solid #cccccc;
    width: 1000px;
}


